/*------  Oveall  --------*/

* {
    margin: 5;
    padding: 0;
}

html {
    background: url(pictures/space-background-with-planet-landscape_107791-6146-transformed.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 12%;
    text-align: center;
    color: aliceblue;
    font-size: 40px;
    padding: 50px;
}

header .img {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*------  Navigationbar  --------*/

.topnav {
    overflow: hidden;
    background-color: darkblue;
    border-style: inset;
    border-radius: 30pX;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 45px;
    text-decoration: none;
    font-size: 25px;
}

.topnav a:hover {
    background-color: skyblue;
    color: black;
}

.topnav a.active {
    background-color: darkslateblue;
    color: white;
}

.topnav .search-container {
    float: right;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    margin-right: 40px;
    font-size: 25px;
    border: none;
}

.topnav .search-container button {
    position: relative;
    width: 50px;
    height: 50px;
    padding: 8px 12px;
    background: darkslateblue;
    font-size: 20px;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 99.8%;
    transform: translate(-110%, -120%);
}

.topnav .search-container button:hover {
    background: skyblue;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/*------  Aside(SidePanels)  --------*/

aside {
    width: 10%;
    background: beige;
    padding: 20px;
    min-height: 100vh;
    opacity: 0.9;
}

button {
    background-color: darkblue;
    color: white;
    padding: 15px 30px;
    border-style: solid black;
    border-radius: 5px;
    cursor: pointer;
}

/*left side*/
#Left {
    float: left;
    margin-left: 25px;
}

.profilePics {
    width: 20px;
    height: 20px;
}

/*left side*/
#Right {
    float: right;
    text-align: center;
    overflow: auto;
    margin-right: 25px;
}

td,
th {
    text-align: center;
    border: 4px solid #999;
    background: lightblue;
    width: 1%;
    border-radius: 5px;
}


img.miniAvatar {
    width: 80%;
}

/*------  form  --------*/

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

div button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
    transform: scale(1.1);
}


.imgcontainer {
    text-align: center;
}

img.avatar {
    width: 100%;

}

span.psw {
    float: right;
    padding-top: 16px;
}


/*------  Main Content  --------*/

.wrapper {
    min-height: 100vh;
    overflow: hidden;
    color: white;
    text-align: center;
}

.contentBlock {
    background: white;
    color: black;
    margin: 15px;
    padding: 20px;
    border-style: solid;
    border-color: darkcyan;
    overflow: hidden;
    text-align: left;
    border-radius: 20px;
}

.imgBack {
    background: beige;
}

.contentBlock img {
    border-radius: 90%;
    border-style: solid;
    float: left;
    margin: 20px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.contentBlock img:hover {
    border-style: solid;
    opacity: 0.8;
    transform: scale(1.2);
}

.btn-group button {
    width: fit-content !important;
    background-color: cornflowerblue;
    border: 2px solid black;
    border-radius: 15px;
    color: white;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    font-size: 15px;
}

.date {
    padding: 10px;
    float: right;
}

/*------  Footer  --------*/

footer {
    background: lightblue;
    color: black;
    text-align: center;
    padding: 30px;
    margin-top: 20px;
    border-style: inset;
    border-radius: 30px;
}
